.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
    border: 2px solid #ccc; 
    padding: 20px; 
    box-sizing: border-box; 
    max-width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5); 
}
  
.success-answer {
    text-align: center;
}
  
.success-answer > ul {
    list-style: none;
    padding: 0;
}
.success-answer li {
    text-align: left;
    margin-bottom: 10px;
}

.beautiful-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}
  
.beautiful-button:hover {
    background: linear-gradient(to bottom, #2c2f63, #5b67b7);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}
  
.beautiful-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
  
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
 
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
