
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  background-color: #f9f9f9;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.result-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.result-answers ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.result-answers li {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

.back-button {
  display: inline-block;
  padding: 14px 28px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: translateY(-2px);
}

.back-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  .result-answers li {
    font-size: 16px;
  }
  .back-button {
    font-size: 14px;
  }
}
