/* Reset and global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Wrapper */
.wrapper {
    display: flex;
    align-items: stretch;
}

/* Sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #fff;
}

.mar{
    margin-right:8px;
}

/* Navbar */
.navbar {
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Main content */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

/* Table */
.table-responsive {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

/* Buttons */
.btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
}

.btn-primary:hover {
    background-color: #2e59d9;
    border-color: #2653d4;
}

.btn-success {
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success:hover {
    background-color: #17a673;
    border-color: #148f65;
}

.btn-danger {
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.btn-danger:hover {
    background-color: #e02d1b;
    border-color: #d52b1a;
}

/* Form */
.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, width 0.5s ease;
}

.edit-form.active {
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 90%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    
    #sidebar.active {
        margin-left: 0;
    }

    .navbar input[type="text"] {
        width: 100%;
    }

    .edit-form {
        width: 90%;
    }
}
